<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card form-registration">
    <mat-card-header>
      <mat-card-title>Registration</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" formControlName="name" />
            @if (addressForm.controls['name'].hasError('required')) {
            <mat-error>Name is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Example" formControlName="desc" />
            @if (addressForm.controls['desc'].hasError('required')) {
            <mat-error>Example is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email" />
            <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Phone"
              placeholder="Phone number"
              formControlName="phone"
              mask="(00) 0 0000-0000"
            />
            @if (addressForm.controls['phone'].hasError('required')) {
            <mat-error>Phone is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="CPF"
              placeholder="CPF"
              formControlName="cpf"
              mask="000.000.000-00"
            />
            @if (addressForm.controls['cpf'].hasError('required')) {
            <mat-error>CPF is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              type="password"
              placeholder="Password"
              formControlName="password"
            />
            @if (addressForm.controls['password'].hasError('required')) {
            <mat-error>Password is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        [disabled]="!addressForm.valid"
        color="primary"
        type="submit"
      >
        Register
      </button>
    </mat-card-actions>
  </mat-card>
</form>
